body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dish-info {
    background-color: #404040;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
}

.dish-info h2 {
    margin-bottom: 20px;
    color: darkorange;
}

.dish-info ul {
    list-style: none;
    padding: 0;
}

.dish-info li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.dish-info strong {
    width: 120px;
    color: lightgray ;
    font-weight: bold;
    margin-right: 10px;
}

.dish-info span {
    display: inline-block;
    width: calc(100% - 140px);
    color: lightgray;
}