body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.dish-info {
    background-color: whitesmoke;
    border-radius: 10px;
    justify-content: left;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
    max-width: 90%;
}

.dish-info h2 {
    margin-bottom: 20px;
    color: darkorange;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.dish-info ul {
    list-style: none;
    padding: 0;
}

.dish-info li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.dish-info strong {
    width: 120px;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.edit-button {
    padding: 8px 16px;
    background-color: darkorange;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.edit-button:hover {
    background-color: #FFABAB;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"],
input[type="number"],
textarea, select {
    flex: 1;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
