<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нашем ресторане</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
<div class="about-header">
    <h1>Наш ресторан</h1>
    <p class="lead">Добро пожаловать в мир изысканных вкусов</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="about-content">
                <h2>Наша история</h2>
                <p>Мы открыли свои двери в 2010 году с целью предложить гостям не просто еду, а настоящие кулинарные произведения искусства. Наш ресторан сочетает в себе традиции и инновации, создавая уникальные блюда, которые запоминаются надолго.</p>

                <h2>Наша философия</h2>
                <p>Мы используем только свежие, сезонные продукты от проверенных поставщиков. Каждое блюдо готовится с любовью и вниманием к деталям. Наша команда поваров постоянно совершенствует свои навыки, чтобы удивлять вас новыми вкусами.</p>

                <h2>Часы работы</h2>
                <ul>
                    <li>Понедельник-Четверг: 11:00 - 23:00</li>
                    <li>Пятница-Суббота: 11:00 - 00:00</li>
                    <li>Воскресенье: 11:00 - 22:00</li>
                </ul>

                <h2>Контакты</h2>
                <p>Луганская Народная Республика</p>
                <p>город Луганск, квартал Молодежный, дом 20А</p>
                <p>Телефон: + 8 (8572) 35-75-35</p>
                <p>Email: info@restaurant.ru</p>
            </div>
        </div>
    </div>
</div>

<a href="#" class="btn btn-primary back-btn" id="backToMain">На главную</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="/js/about.js"></script>
</body>
</html>