<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление блюда</title>
    <link rel="stylesheet" href="/css/create_dish.css">
</head>
<body>

<div id="loadingIndicator" class="loading-overlay" style="display: none;">
    <div class="spinner"></div>
</div>

<form method="post" id="createForm" enctype="multipart/form-data" th:action="@{/store/dishes/create}">
    <div th:if="${errors}">
        <h2>Допущены ошибки</h2>
        <ul>
            <li th:each="error : ${errors}" th:text="${error}"></li>
        </ul>
    </div>
    <label>
        Название:
        <input type="text" name="name" required>
    </label>
    <label>
        Описание:
        <textarea name="description" required></textarea>
    </label>
    <label>
        Категория блюда:
        <select name="category" required>
            <option value="ROLLS">Роллы</option>
            <option value="SOUPS">Супы</option>
            <option value="DESSERTS">Дессерты</option>
            <option value="PIZZAS">Пицца</option>
        </select>
    </label>
    <label>
        Наличие:
        <input type="checkbox" name="availability" value="true" checked>
    </label>
    <label>
        Цена:
        <input type="number" name="price" required>
    </label>
    <label>
        Фото:
        <input type="file" name="image">
    </label>
    <button type="submit">Добавить блюдо</button>
</form>

<script src="/js/loadBar.js"></script>
</body>
</html>
