<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление блюда</title>
    <link rel="stylesheet" href="/css/create_dish.css">

</head>
<body>

<form method="post" id="createForm" enctype="multipart/form-data" data-th-action="@{/store/dishes/create}">
    <div data-th-if="${errors}">
        <h2>Допущены ошибки</h2>
        <ul>
            <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
        </ul>
    </div>
    <label>
        Название:
        <input type="text" id="name" name="name">
    </label>
    <label>
        Описание:
        <textarea name="description"></textarea>
    </label>
    <label>
        Категория блюда:
        <select name="category">
            <option value="ROLLS">Роллы</option>
            <option value="SOUPS">Супы</option>
        </select>
    </label>
    <label>
        Наличие:
        <input type="checkbox" name="availability" value="true" checked>
    </label>
    <label>
        Цена:
        <input type="number" id="price" name="price">
    </label>
    <label>
        Фото:
        <input type="file" name="image">
    </label>
    <button type="submit">Добавить блюдо</button>
</form>
</body>
</html>