<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>>
        <li><strong>ID </strong> <span data-th-text="${dish.id()}"> </span></li>
        <li><strong>Название </strong><span data-th-text="${dish.name()}"> </span></li>
        <li><strong>Описание </strong><span data-th-text="${dish.description()}"> </span></li>
        <li><strong>Цена </strong><span data-th-text="${dish.price()}"> </span></li>
        <li><strong>Наличие </strong><span data-th-text="${dish.availability()}"> </span></li>
        <li><strong>Категория </strong><span data-th-text="${dish.category()}"> </span></li>
    </ul>
</body>
</html>