<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о блюде</title>
    <link rel="stylesheet" href="/css/dish.css">
</head>
<body>
<div class="dish-info">
    <h2>Информация о блюде</h2>
    <img src="https://downloader.disk.yandex.ru/preview/1e3a88e07fc69d4a9acce8702a815f8c361ea9b5e40e8da838190b0fb5fcfabc/inf/gJ9KiimGoYbGCe2IrDWcVGycE3C0fjH29HfwRtDDKVygSgSgsryLElCdDXXAJj1BBccTjprd_uY3WWhDvvyBVA%3D%3D?uid=605493173&filename=%D0%97%D0%B8%D0%BC%D0%B0.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=605493173&tknv=v2&size=S&crop=0" alt="">
    <ul>
        <li><strong>ID </strong> <span data-th-text="${dish.id()}"> </span></li>
        <li><strong>Название </strong><span data-th-text="${dish.name()}"> </span></li>
        <li><strong>Описание </strong><span data-th-text="${dish.description()}"> </span></li>
        <li><strong>Цена </strong><span data-th-text="${dish.price()}"> </span></li>
        <li><strong>Наличие </strong><span data-th-text="${dish.availability()}"> </span></li>
        <li><strong>Категория </strong><span data-th-text="${dish.category()}"> </span></li>
        <li><strong>Айди изображения</strong><span data-th-text="${dish.imageId()}"></span></li>
        <li><a href="#" onclick="goBack()"><strong style="color: darkorange">Назад</strong> </a></li>

    </ul>
    <div class="div-form">
        <form data-th-action="@{/store/dishes/{dishId}/edit(dishId=${dish.id()})}">
            <button class="edit-button" type="submit">Изменить блюдо</button>
        </form>
        <form method="post" data-th-action="@{/store/dishes/{dishId}/delete(dishId=${dish.id()})}">
            <button class="edit-button" type="submit" onclick="showModal()">Удалить блюдо</button>
        </form>
        <form action="/store/dishes/category">
            <button class="edit-button" type="submit">К списку блюд</button>
        </form>
    </div>
</div>

<script src="/js/back.js"></script>


</body>
</html>
