<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

<!-- Категория товаров -->
<div class="category">
    <h2>Роллы</h2>
    <div class="product-grid">
        <div class="product-card">
            <img src="https://downloader.disk.yandex.ru/preview/7e009ed0524d4f3591c3eb08ec2b048957e1ac305c4f2f44d995dc9269332d95/inf/MmxeA76ytecI3xfQkhSRML41j6U3ebDBYFLqXF6tnbw29M5oFIDtMje48u1S2lxbgUiyX4RWSUKD-bP2utecMg%3D%3D?uid=605493173&filename=food_image_8397.png&disposition=inlin   e&hash=&limit=0&content_type=image%2Fpng&owner_uid=605493173&tknv=v2&size=S&crop=0" alt="Название товара 1">
            <p>Краткое описание товара 1</p>
        </div>
        <div class="product-card">
            <img src="https://downloader.disk.yandex.ru/preview/d32156cb23bd91d25fd5060e70f6aed83caabfb4ff0610dc96ade5ebe6cea415/inf/BtYh6RG4yhZlpvJ3ymAqxcOx-NQtgwuc2BRS03RPnGKhTGiadbkBeQDIXMTajcBCAYcXUQ26ctXXCCWq7LunFg%3D%3D?uid=605493173&filename=food_image_8397.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=605493173&tknv=v2&size=S&crop=0" alt="Название товара 2">
            <p>Краткое описание товара 2</p>
        </div>

        <div class="product-card">
            <img src="image3.jpg" alt="Название товара 3">
            <p>Краткое описание товара 3</p>
        </div>
    </div>
</div>

<!-- Другие категории -->
<div class="category">
    <h2>Пицца</h2>
    <div class="product-grid">
        <!-- Карточки товаров для категории "Пицца" -->
        <div class="product-card">
            <img src="pizza1.jpg" alt="Пицца 1">
            <p>Краткое описание пиццы 1</p>
        </div>
        <div class="product-card">
            <img src="pizza2.jpg" alt="Пицца 2">
            <p>Краткое описание пиццы 2</p>
        </div>
        <div class="product-card">
            <img src="pizza3.jpg" alt="Пицца 3">
            <p>Краткое описание пиццы 3</p>
        </div>
    </div>
</div>

</body>
</html>
